.container{
  margin-top: 10px;
  height: calc(100vh - 150px);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px;
  border-radius: 25px;
  height: auto;
}

mat-card-title{
  font-size: 32px;
  margin: 36px 0;
  color: #08ea54;
}

.form-register{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
}

.name, .email, .address, .password{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 12px 0;
}

.password{
  margin-bottom: 36px;
}

mat-form-field{
  width: 80%;
  --mdc-outlined-text-field-focus-outline-color: #04a857;
  --mdc-outlined-text-field-focus-label-text-color: #08ea54;
}

button{
  width: 60%;
  height: 40px;
  margin-bottom: 12px;
  padding: 10px 0; /* Ajusta el padding vertical según sea necesario */

}

button:enabled{
  background-color: #04a857;
  color: white;
}

a{
  cursor: pointer;
  color: black;
}

a:visited {
  color: black;
}

a:hover{
  color: #08ea54;
}

.error-message{
  color: red;
  text-align: center;
}

@media screen and (max-width: 550px){
  .card{
    width: 100%;
    padding: 0;
  }

  mat-form-field{
    width: 90%;
  }

  mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  mat-card-content{
    width: 100%;
    padding: 0;
  }

  .form-register{
    width: 100%;
  }
}
