<!-- Page Content -->
<div class="flex-grow-1 mt-5 pt-5">
  <div class="hero">
    <div class="content">
      <h1>Bienvenido a Inkamarket</h1>
      <p>Tu conexión directa con los mejores productos agrícolas del Perú</p>
    </div>
  </div>
</div>
<!-- Sección de productos -->
<div class="container flex-grow-1 mt-5 pt-5">
  <div class="row text-center mt-5">
    <!-- Producto 1 -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100 shadow" style="border-color: #7DCEA0;">
        <img src="assets/images/cafe_andino.jpg" class="card-img-top" alt="Café Orgánico Andino">
        <div class="card-body">
          <h5 class="card-title text-success">Café Orgánico Andino</h5>
          <p class="card-text">Directo de las alturas de los Andes, cultivado por pequeños agricultores.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/producto_home" class="btn btn-outline-success">Explorar cosecha</a>
        </div>
      </div>
    </div>

    <!-- Producto 2 -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100 shadow" style="border-color: #7DCEA0;">
        <img src="assets/images/palta_hass.jpg" class="card-img-top" alt="Palta Hass">
        <div class="card-body">
          <h5 class="card-title text-success">Palta Hass</h5>
          <p class="card-text">Palta de calidad exportación, cultivada con técnicas tradicionales.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/producto_home" class="btn btn-outline-success">Explorar cosecha</a>
        </div>
      </div>
    </div>

    <!-- Producto 3 -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100 shadow" style="border-color: #7DCEA0;">
        <img src="assets/images/papa_nativa.jpg" class="card-img-top" alt="Papa Nativa">
        <div class="card-body">
          <h5 class="card-title text-success">Papa Nativa</h5>
          <p class="card-text">Variedades ancestrales de papa cultivadas en los Andes peruanos.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/producto_home" class="btn btn-outline-success">Explorar cosecha</a>
        </div>
      </div>
    </div>

    <!-- Producto 4 -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100 shadow" style="border-color: #7DCEA0;">
        <img src="assets/images/quinoa.jpg" class="card-img-top" alt="Quinua Orgánica">
        <div class="card-body">
          <h5 class="card-title text-success">Quinua Orgánica</h5>
          <p class="card-text">Quinua cultivada de manera orgánica en el altiplano.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/producto_home" class="btn btn-outline-success">Explorar cosecha</a>
        </div>
      </div>
    </div>
  </div>
</div>
