<!-- Page Content -->
<div class="container flex-grow-1 mt-5 pt-5">
  <div class="bg-light p-5 rounded text-center">
    <h1 class="display-4 font-weight-bold mb-4">Bienvenido a Spring Ecommerce 2021</h1>
    <p class="lead text-secondary">Tu tienda de productos en línea</p>
  </div>
  <div class="row text-center mt-5">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="https://placehold.co/500x325" class="card-img-top" alt="Producto 1">
        <div class="card-body">
          <h5 class="card-title">Nombre del producto.</h5>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-success">Ver producto</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="https://placehold.co/500x325" class="card-img-top" alt="Producto 2">
        <div class="card-body">
          <h5 class="card-title">Nombre del producto.</h5>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-success">Ver producto</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="https://placehold.co/500x325" class="card-img-top" alt="Producto 3">
        <div class="card-body">
          <h5 class="card-title">Nombre del producto.</h5>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-success">Ver producto</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="https://placehold.co/500x325" class="card-img-top" alt="Producto 4">
        <div class="card-body">
          <h5 class="card-title">Nombre del producto.</h5>
        </div>
        <div class="card-footer">
          <a routerLink="/producto_home" class="btn btn-success">Ver producto</a>
        </div>
      </div>
    </div>
  </div>
</div>
